<div class="card-title">
    Inserta un nuevo empleado
    <form  [formGroup]="formularioDatos">
      
        <input class="form-group" name="nombre" type="text" placeholder="nombre" formControlName="nombre" >
        <input class="form-group" name="apellido" type="text" placeholder="apellido" formControlName="apellido" >
        <input class="form-group" name="email" type="text" placeholder="email" formControlName="email" >
        
        <div><button (click)="agregar()" class="btn btn-primary mt-2 " type="submit"
                        [disabled]="formularioDatos.invalid">aceptar</button></div>
      
      
    </form>
  </div>